#mainHome {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ), url("../assets/images/background.png");
  width: 100%;
  padding: 2rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

#ongoing-requests {
  width: 100%;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section h3 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  width: inherit;
}

#button {
  display: block;
  border: 1px solid transparent;
  margin: 0.5rem auto;
  padding: 0.8rem 2rem;
  background: #000;
  color: #f5f5f5;
  border-radius: 0.3125rem;
  font-size: 1.1rem;
  cursor: pointer;
  margin-bottom: 40px;

  &:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    transition: all 200ms ease-out;
  }

  &:active {
    background-color: #000;
    color: #fff;
  }
}

a {
  text-decoration: none;
}

.grid-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.card p {
  font-size: 1rem;
  font-weight: 600;
  margin-left: 1rem;
}

.card-footer .name {
  font-size: 0.875rem;
  font-weight: bold;
  color: #000000;
}

@media (min-width: 431px) {
  .cards-container {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    justify-items: center;
    width: 100%;
  }

  .grid-card {
    display: grid;
    grid-template-columns: repeat(4, minmax(397px, 1fr));
    grid-row-gap: 60px;
    padding: 40px 130px 140px;
  }

  section h3 {
    width: inherit;
    text-align: left;
  }
}
