/* Container principal */
.request-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Conteneur pour la ligne de deux colonnes (détails à gauche et tableau à droite) */
.details-and-table {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
  align-items: flex-start;
}

/* Style pour l'élément details (à gauche) */

/* Conteneur pour le tableau */
.table-container {
  display: flex;
  justify-content: center;
  flex: 1;
  margin-left: 20px;
  margin-top: 20px;
}

/* Conteneur pour le bouton "Give my opinion" */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: relative;
}

/* Style pour le bouton */
.button-opinion {
  background-color: #030a1b;
  color: white;
  font-size: 1rem;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-opinion:hover {
  background-color: #4682b4;
}

.button-opinion:focus {
  outline: none;
} /* Aligner le contenu de la colonne "Event" à droite */
th:nth-child(2),
td:nth-child(2) {
  text-align: right; /* Aligner à droite le texte dans la colonne "Event" */
  padding-left: 40px; /* Ajouter un espacement supplémentaire pour "Event" */
}
/* Espacement supplémentaire pour la colonne "Event" */
th:nth-child(2),
td:nth-child(2) {
  padding-left: 40px; /* Ajouter un padding à gauche pour la colonne "Event" */
}
/* Supprimer la puce du titre "Save the date" */
th.centered-title::before {
  content: none; /* Supprimer la puce (cercle ou autre contenu ajouté) */
}
/* Centrer le texte mais garder la flèche à gauche */
.details-container summary {
  display: inline-block; /* Pour que le texte soit centré tout en gardant la flèche à gauche */
  text-align: center; /* Centrer le texte */
  width: 100%; /* Utiliser toute la largeur disponible */
  position: relative; /* Nécessaire pour positionner la flèche */
}

/* Flèche à gauche sans changer sa position */
.details-container summary::before {
  content: "▶"; /* Utilisation du triangle comme flèche */
  font-size: 1rem; /* Taille de la flèche */
  position: absolute; /* Positionner la flèche à gauche */
  left: 0; /* Positionner la flèche à gauche */
  top: 50%; /* Centrer verticalement la flèche */
}
/* ******************************************************************** */
/* ************************************************************************* */

/* Personnalisation pour la version mobile et tablette */
@media (max-width: 1024px) {
  .request-details-container {
    display: flex;
    justify-content: flex-start;
    padding: -15px;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .details-container {
    max-width: 100%; /* Utiliser toute la largeur */
    margin-right: 0; /* Retirer l'espace à droite */
    padding-top: revert;
  }

  .details-container summary {
    display: inline-block;
    width: 100%;
    /* justify-content: center; */
    text-align: center; /* Centrer les titres sur mobile */
    padding-left: 20px; /* Ajouter un peu d'espace à gauche pour laisser la place à la flèche */
  }

  .details-container summary::before {
    content: "▶"; /* Utilisation du triangle pour la flèche */
    font-size: 1rem; /* Taille de la flèche */
    position: absolute; /* Positionner la flèche à gauche */
    left: 0px; /* Placer la flèche tout à gauche */
    top: 50%; /* Centrer la flèche verticalement */
    transform: translateY(-50%); /* Ajuster la position verticale de la flèche */
  }

  .avatar-container {
    padding-right: 0; /* Retirer l'espace à droite sur mobile */
  }

  /* Le bouton sera entre les descriptions et le tableau en version mobile */
  .button-container {
    position: absolute; /* Le bouton sera positionné au-dessus du tableau */
    top: calc(50% + 10px); /* Calcul pour positionner le bouton entre les sections */
    z-index: 10; /* Assurer que le bouton est au-dessus du tableau */
    width: 100%; /* Le bouton doit prendre toute la largeur du conteneur */
    justify-content: center;
    margin-top: 10px;
  }
  .button-container {
    position: absolute; /* Positionner le bouton de manière absolue */
    top: 315px; /* Ajuster cette valeur pour remonter le bouton (plus petit = plus haut) */
    left: 50%; /* Centrer le bouton horizontalement */
    transform: translateX(-50%); /* Centrer précisément le bouton */
    width: 100%; /* Assurer que le bouton prend toute la largeur du conteneur */
    z-index: 10; /* S'assurer que le bouton est au-dessus des autres éléments */
  }
  .impact-sections {
    margin-top: 10px; /* Réduit l'espace au-dessus des sections */
    margin-bottom: 10px; /* Réduit l'espace sous les sections */
    padding-left: 0; /* Pas de padding à gauche sur mobile */
    text-align: center;
  }

  .table-container {
    display: flex;
    justify-content: center; /* Centrer le tableau horizontalement */
    width: 100%; /* S'assurer que le conteneur prend toute la largeur disponible */
    align-items: center; /* Centrer le tableau verticalement */
    margin-top: 45px; /* Ajouter un peu d'espace au-dessus si nécessaire */
    margin-left: 0px; /* Retirer tout margin pour s'assurer que le tableau est parfaitement centré */
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 0 10px; /* Ajouter un petit padding à gauche et à droite pour éviter que le tableau ne touche les bords */
  }

  table {
    width: 90%; /* Donner une largeur réduite au tableau pour qu'il soit bien centré */
    max-width: 95%; /* Limiter la largeur à 95% de l'écran pour un peu de marge */
    table-layout: fixed; /* Pour que les cellules aient une largeur uniforme */
    height: auto; /* Réduire la hauteur du tableau */
  }
  th,
  td {
    padding: 6px 10px; /* Espacement amélioré pour mobile */
    text-align: center; /* Centrer le texte des cellules */
  }
  /* Espacement augmenté entre les colonnes "Date" et "Event" */
  th {
    padding-left: 30px; /* Augmenter l'espacement à 30px */
    padding-right: 30px; /* Augmenter l'espacement à 30px */
  }
  th:nth-child(2),
  td:nth-child(2) {
    padding-left: 25px; /* Ajuster sur mobile-tablette */
    text-align: right; /* Alignement à droite pour "Event" */
  }
  tr {
    height: 30px; /* Réduire la hauteur des lignes du tableau */
  }

  /* Pour les écrans mobiles et tablettes (max-width: 1024px) */
  @media (max-width: 1024px) {
    /* Style du bouton */
    .button-opinion {
      padding: 10px 20px; /* Ajouter un peu de padding pour rendre le bouton plus grand et plus visible */
    }

    .button-opinion:hover {
      background-color: #020202;
    }

    .button-opinion:focus {
      outline: none;
    }

    /* Déplacer le tableau vers le bas si nécessaire */
    .table-container {
      display: block; /* Passe en mode bloc pour permettre un centrage simple */
      text-align: center; /* Centre le contenu à l'intérieur du conteneur */
      width: 100%; /* Le conteneur occupe toute la largeur disponible */
      margin-top: 85px; /* Centrage automatique horizontal */
      padding: 0 10px; /* Espacement autour du tableau */
    }

    /* Réorganiser les sections des détails et du tableau */
    .details-and-table {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    /* Détails (à gauche) */
    .details-container {
      max-width: 100%;
      margin-right: 0;
      padding: 10px;
      text-align: center;
      z-index: 5;
      margin-top: 30px;
    }
    .request-id {
      margin-top: -25px; /* Ajoute un espacement au-dessus pour descendre l'élément */
    }

    /* Puce (flèche) dans les résumés */
    .details-container summary::before {
      content: "▶";
      position: absolute;
      left: -20px; /* Placer la flèche à gauche du titre */
      font-size: 1.5rem;
    }

    /* Section Impacting et Impacted Person */
    .impact-sections {
      flex-direction: column; /* Empiler les sections */
      align-items: center;
      padding-left: 0;
      margin-top: 15px;
    }

    .impact-person {
      margin-bottom: 10px; /* Réduire l'espace entre les sections */
      width: 100%;
      text-align: center;
    }

    .avatar-container {
      display: flex;
      justify-content: center; /* Centrer les avatars */
      width: 100%; /* Prendre toute la largeur */
    }

    .avatar {
      width: 50px; /* Taille plus petite des avatars sur mobile */
      height: 50px;
      margin-bottom: 10px; /* Espacement sous l'avatar */
    }
    th.centered-title {
      text-align: center; /* Centre le texte horizontalement */
      vertical-align: middle; /* Centre le texte verticalement dans la cellule */
      padding: 10px; /* Ajuste le padding pour donner plus d'espace autour du texte */
    }
    .bullet {
      display: inline-block;
      width: 8px;
      height: 8px;
      background-color: #000;
      border-radius: 50%;
      margin-right: 10px;
      vertical-align: middle;
    }
  }

  table {
    width: 100%; /* Largeur du tableau (90% de son conteneur) */
    max-width: 100%; /* Limite la largeur à 100% du conteneur parent */
    margin: 0 auto; /* Centrer le tableau */
    table-layout: fixed; /* Fixe la largeur des colonnes */
    height: auto; /* Hauteur automatique selon le contenu */
  }
  th:nth-child(2),
  td:nth-child(2) {
    padding-left: 25px; /* Réduit l'espacement dans la 2ème colonne */
    text-align: center;
  }
  th,
  td {
    padding: 8px 12px; /* Réduit l'espacement des cellules */
    font-size: 0.85rem; /* Réduit la taille de la police pour mobile */
    line-height: 1.1; /* Réduit l'interligne sur mobile/tablette */
    text-align: center; /* Centre le texte dans les cellules */
  }
  /* Styles spécifiques pour les tags en version mobile */
  .mobile-header-tags {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 35px;
  }

  .mobile-tag1 {
    background-color: #87e522;
    color: rgb(22, 21, 21);
    padding: 2px 45px;
    border-radius: 15px;
    font-size: 0.9rem;
    margin-top: 35px;
  }
  .mobile-tag2 {
    background-color: #f0aeee;
    color: rgb(22, 21, 21);
    padding: 2px 45px;
    border-radius: 15px;
    font-size: 0.9rem;
    margin-top: 35px;
  }
  /* Centrer le titre "Save the date" */
  th.centered-title {
    text-align: center; /* Centrer le texte horizontalement */
    vertical-align: middle; /* Centrer verticalement */
    padding: 10px; /* Ajuster l'espacement pour donner plus de place autour du texte */
  }
  /* Centrer la flèche dans la ligne */
  .arrow {
    text-align: center; /* Centrer le contenu de la cellule contenant la flèche */
    padding: 5px 0;
    /* Ajuster l'espacement autour de la flèche */
    vertical-align: middle;
    position: relative;
  }

  /* Centrer la flèche vers le bas */
  .arrow-down {
    font-size: 1.5rem; /* Taille de la flèche */
    margin-top: -2px; /* Ajuster légèrement la position verticale de la flèche */
    vertical-align: middle;
    color: #0f1010; /* Choisir une couleur qui se démarque */
    margin-top: -2px; /* Ajuster légèrement la position verticale de la flèche */
  }
  /* Gérer les flèches dans le tableau */

  tr th.arrow {
    text-align: center;
    padding-top: 0; /* Retirer tout espace supplémentaire au-dessus de la flèche */
    padding-bottom: 15px; /* Retirer tout espace supplémentaire en dessous de la flèche */
  }
  /* Ajouter un cercle sous la flèche */
  .arrow::after {
    content: ""; /* Créer un élément vide */
    position: absolute; /* Positionner le cercle de manière absolue */
    left: 50%; /* Centrer horizontalement */
    transform: translateX(-50%); /* Centrer parfaitement par rapport à son conteneur */
    top: 50px; /* Décaler le cercle sous la flèche */
    width: 15px; /* Taille du cercle */
    height: 15px; /* Taille du cercle */
    border-radius: 50%; /* Faire du cercle un rond */
    background-color: #000; /* Couleur du cercle (noir ici, mais peut être modifiée) */
  }

  /* L'avatar et le nom restent alignés à gauche */
  .user-info-container {
    justify-content: flex-start; /* Garder l'alignement à gauche */
  }

  .user-avatar {
    width: 35px;
    height: 35px; /* Taille réduite pour l'avatar sur mobile */
  }

  .user-name {
    font-size: 1rem; /* Réduire la taille du nom sur mobile */
  }
}
/* ************************************************************************************** */
/* ********************************************************************************** */
