* {
  font-family: "Roboto", sans-serif;
}

#logoImg {
  width: 2.5rem;
  height: 2.6875rem;
  flex-shrink: 0;
}

#header-landing {
  margin: 1.5rem 0.2rem 1.5rem 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#login-signup-container {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 1rem;
}

#login-button {
  color: #000;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
}

#signupButtonMobile {
  display: flex;
  width: 6.5rem;
  height: 2.4rem;
  font-size: 1.1rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: #000;
  color: #f5f5f5;
  text-decoration: none;
}

#signupNowButtonMobile {
  display: flex;
  width: 9.5rem;
  height: 3.1rem;
  font-size: 1.1rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: #000;
  color: #f5f5f5;
  text-decoration: none;
  cursor: pointer;
}

#requestcardImg {
  width: 80vw;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

#carousel-heading-text {
  display: flex;
  text-align: center;
  font-size: x-large;
  margin: 1rem;
}

#main_text {
  text-align: center;
  font-size: large;
  margin: 3rem 3rem 1rem 3rem;
}

#carousel {
  height: 20vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5) /* Couleur blanche avec une opacité de 50% */,
      rgba(255, 255, 255, 0.5)
    ), url("../assets/images/people_liking.png");
  background-size: 100vw auto;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 4px #ffffff;
}

#alreadyaccount {
  color: #000;
  text-align: center;
  font-size: large;
  margin-bottom: 4rem;
  text-decoration: none;
  margin-top: 2rem;
  margin-bottom: 0;
}

#login-highlighted {
  font-weight: bold;
}

#mainsectionlandingpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#signupNowButtonMobile {
  margin: 0;
}
